<!DOCTYPE html>
<html>
<head>
	<title>Selfie Marketplace</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<h1>Welcome to the World Famous Selfie Marketplace</h1>
	<h2>List of Selfies</h2>
	<ul>
		{% for selfie in selfies %}
		  <li>
		  	<h3>
		  		{{ selfie.title }}
		  	</h3>
		  	<h4>
		  		User: {{ selfie.user }}
		  	</h4>
		  	<h4>
		  		Price: ${{ selfie.price }}
		  	</h4>
		  	<img src="{{ selfie.image }}">
		  </li>
		{% endfor %}
	</ul>
	<a href="/new">Upload a selfie to sell or trade on the marketplace</a>
</body>
</html>