<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<h1>Upload a Selfie to Sell or Trade!</h1>
	<form action="/new" method="post">
		<label for="title">Enter your selfie's title:</label>
		<input type="text" name="title">
    <br>
		<label for="user">What's your name?</label>
		<input type="text" name="user">
    <br>
    <label for="image">Enter a url to your image:</label>
		<input type="text" name="image">
    <br>
    <label for="price">What is the price or value of your selfie?</label>
		<input type="text" name="price">
    <br>
		<input type="submit" value="Submit">
	</form>
	<a href="/">Browse the Marketplace</a>
</body>
</html>
